
html, body {
    max-width: 100%;
    overflow-x: hidden;
}


$bluebackground-height: 90%;
$primary:       #5265E1;
$secondary:      #FA5959;
$enable-negative-margins: true;

$nav-link-color:   black;
$nav-link-hover-color: $secondary;

@import "./_tabs";
@import "./_accordian";


.blue-background {
    position: absolute;
    left: 30%;
    height: $bluebackground-height;
    width: 150%;
    top: 20%;
    z-index: -1;
    border-radius: 0px 0px 0px 10rem;
}

.hero-image {
    z-index: 2;
}

.hero-container {
    position: relative;
}



#tab-blue-background {
    position: absolute;
    right: 40%;
    height: $bluebackground-height;
    width: 150%;
    top: 30%;
    z-index: -1;
    border-radius: 0px 0px 10rem 0rem;
}

.tab-hero-container {
    position: relative;
  
}

.card-img-top {
    width: 50%;
}

.card-top-border {
    width:100%;
    left: 0;
    background-image: url(~/assets/images/bg-dots.svg);
    position:absolute;
    height: 10px;
    background-repeat: repeat-x;
    bottom: 22.5%;  
}

.dot-img {
    height: 50px;
}



.footer-container {
    color:white;
    margin-left: 0px; /* extend 75px to the left side */
margin-right: 0px;
}



.footer-nav {
    width: 100vw;
    margin-left: 0rem;
   
}

.footer-nav li a:active, .footer-nav li a:hover  {
    color: $secondary !important;
}



 @import '../node_modules/bootstrap/scss/bootstrap.scss';


 .card {
    border-radius: 0 0 1rem 1.5rem;

}

.cards-main .col-12:nth-child(2) .card {
    margin-top: 2rem;
 }

.cards-main .col-12:nth-child(3) .card {
    margin-top: 4rem;
 }

.invalid-feedback {
    background-color: $secondary;
    color: white;
    border-radius: 0 0 .5rem .5rem;
    padding: .4rem;
    margin-top: 0px;
    
}

.footer-socials path:active, .footer-socials path:hover {
    fill: $secondary;
}

.footer-socials:hover {
    cursor: pointer;
}

.social-icons {
    margin-top: .5rem;
}



