//
$bluebackground-height: 90%;
$primary:       #5265E1;
$secondary:      #FA5959;
@import "./_tabs";

.blue-background {
    position: absolute;
    left: 30%;
    height: $bluebackground-height;
    width: 100%;
    top: 20%;
    z-index: -1;
    border-radius: 0px 0px 0px 10rem;
}

.hero-image {
    z-index: 2;
}

.hero-container {
    position: relative;
}



#tab-blue-background {
    position: absolute;
    right: 40%;
    height: $bluebackground-height;
    width: 100%;
    top: 30%;
    z-index: -1;
    border-radius: 0px 0px 10rem 0rem;
}

.tab-hero-container {
    position: relative;
  
}

.card-img-top {
    width: 100px;
}

.card-top-border {
    width:100%;
    left: 0;
    background-image: url(~/assets/images/bg-dots.svg);
    position:absolute;
    height: 10px;
    background-repeat: repeat-x;
    bottom: 25%;  
}

.dot-img {
    height: 50px;
}

.card {
    border-radius: 0 0 1rem 1.5rem;
}

.footer-container {
    color:white;
    width:500%;
    margin-left: -75px; /* extend 75px to the left side */
margin-right: -75px;
}



@import '../node_modules/bootstrap/scss/bootstrap.scss';